.project
*.log
logs/*
*/logs/*
*/*.log
!.gitignore
node_modules/*
*/node_modules/*
.settings/
.idea
**/*.svn
*.svn
*.sublime-project
*.sublime-workspace
*.swp
.DS_Store
game-server/logs/
game-server/node_modules/
node_modules/
web-server/node_modules/
