<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loseline_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{317,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,224}}</string>
                <key>sourceSize</key>
                <string>{317,224}</string>
            </dict>
            <key>loseline_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,112},{124,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,59}}</string>
                <key>sourceSize</key>
                <string>{124,59}</string>
            </dict>
            <key>p_loading_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,57},{462,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,53}}</string>
                <key>sourceSize</key>
                <string>{462,53}</string>
            </dict>
            <key>p_loading_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{462,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,53}}</string>
                <key>sourceSize</key>
                <string>{462,53}</string>
            </dict>
            <key>wait.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,112},{290,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,71}}</string>
                <key>sourceSize</key>
                <string>{290,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{785,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0ed865171464cc6097a31b0f211a105:1/1$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
